# Forge
.forge
forge-config.json
artifacts/
build/
out/
broadcast/
cache/
src/ITargetBase.sol
src/MockUSDC.sol
src/RealEstateInvestment.sol
src/TargetBase.sol
script/Deploy.s.sol
lib/openzeppelin-contracts/
